form .martor-preview {
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Open Sans", "Segoe UI", "Lucida Grande", Arial, sans-serif;
}
form .martor-preview .sidebox.statement {
  font-family: "Merriweather", "Open Sans", "Segoe UI", "Lucida Grande", Arial, sans-serif !important;
}
form .martor-preview p {
  text-align: justify;
  margin: 1em 0 !important;
  padding: 0 !important;
}
form .martor-preview img {
  max-width: 100%;
  height: auto;
}
form .martor-preview img.tex-full, form .martor-preview img.tex-image, form .martor-preview img.inline-math, form .martor-preview img.display-math {
  -webkit-filter: invert(1) hue-rotate(180deg);
          filter: invert(1) hue-rotate(180deg);
}
form .martor-preview h1, form .martor-preview h2, form .martor-preview h3, form .martor-preview h4, form .martor-preview h5, form .martor-preview h6 {
  font-weight: normal;
  color: #b0bec5;
  margin-bottom: 0.75em;
  padding: 0;
  background: 0;
}
form .martor-preview h3, form .martor-preview h4, form .martor-preview h5, form .martor-preview h6 {
  font-weight: bold;
}
form .martor-preview h1 {
  font-size: 2.5em;
}
form .martor-preview h2 {
  font-size: 2em;
}
form .martor-preview h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
form .martor-preview h4 {
  font-size: 1.4em;
  border-bottom: 1px solid rgba(207, 216, 220, 0.1);
  line-height: 1.225;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}
form .martor-preview h5 {
  font-size: 1.15em;
  margin-top: 0;
}
form .martor-preview h6 {
  font-size: 0.9em;
}
form .martor-preview blockquote {
  color: #546e7a;
  border-left: 0.5em #304047 solid;
  margin: 1em 1em;
  padding: 1px 1px 1px 1.5em;
}
form .martor-preview blockquote.spoiler {
  padding: 0 1.5em;
  position: relative;
  background: #304047;
  border-radius: 5px;
  color: #242729;
  cursor: pointer;
  min-height: 48px;
  border: solid 1px #3b4d56;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}
form .martor-preview blockquote.spoiler > * {
  display: none;
}
form .martor-preview blockquote.spoiler::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  border-radius: 8px;
  background: #3b4d56;
}
form .martor-preview blockquote.spoiler::after {
  content: "Reveal spoiler!";
  background-repeat: no-repeat;
  background-position: center right;
  font-size: 13px;
  color: #6a737c;
  padding-right: 22px;
  position: absolute;
  top: 1em;
  right: 0em;
  pointer-events: none;
}
form .martor-preview blockquote.spoiler.is-visible {
  cursor: auto;
}
form .martor-preview blockquote.spoiler.is-visible > * {
  display: block;
}
form .martor-preview blockquote.spoiler.is-visible::after {
  opacity: 0;
}
form .martor-preview hr {
  display: block;
  height: 0;
  border: 0;
  font-style: italic;
  border-bottom: 1px solid #3b4d56;
  margin: 25px 0 20px 0;
  padding: 0;
}
form .martor-preview pre, form .martor-preview code, form .martor-preview kbd, form .martor-preview samp, form .martor-preview span.code {
  color: #cfd8dc;
  page-break-inside: avoid;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 0.98em;
}
form .martor-preview code, form .martor-preview span.code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #3b4d56;
  background-color: #263238;
  border-radius: 4px;
  font-size: 0.95em;
  color: #90a4ae;
}
form .martor-preview pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 1.5em 0 1.5em 0;
  padding: 1em;
  background-color: #304047;
  color: #cfd8dc;
  border-radius: 4px;
}
form .martor-preview pre code, form .martor-preview pre div.code {
  border: 0;
  line-height: 1em;
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 1em;
  color: #cfd8dc;
}
form .martor-preview b, form .martor-preview strong {
  font-weight: bold;
}
form .martor-preview dfn {
  font-style: italic;
}
form .martor-preview ins {
  background: #ff9;
  color: #cfd8dc;
  text-decoration: none;
}
form .martor-preview mark {
  background: #ff0;
  color: #cfd8dc;
  font-style: italic;
  font-weight: bold;
}
form .martor-preview sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
form .martor-preview sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
form .martor-preview sub {
  bottom: -0.25em;
}
form .martor-preview ul, form .martor-preview ol {
  padding: 0 0 0 2em;
}
form .martor-preview li p:last-child {
  margin: 0;
}
form .martor-preview dd {
  margin: 0 0 0 2em;
}
form .martor-preview img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
form .martor-preview td {
  vertical-align: top;
}
form .martor-preview ul li {
  list-style: unset !important;
}
form .martor-preview ul, form .martor-preview ol {
  margin-left: 0 !important;
}
form .martor-preview h5 {
  text-transform: none !important;
}

.main-martor-fullscreen {
  z-index: 99999 !important;
}

.ace_editor {
  font-size: 13px;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.section-martor div[data-tab=editor-tab-description] {
  padding: 0;
}
.section-martor .markdown-selector.markdown-emoji {
  display: none !important;
}
.section-martor .tab-martor-menu a.item {
  font-size: 0.8rem;
}
.section-martor .martor-field {
  height: 400px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Jlc291cmNlcy9tYXJ0b3ItZGVzY3JpcHRpb24uc2NzcyIsIi4uLy4uL3Jlc291cmNlcy9iYXNlLWRlc2NyaXB0aW9uLnNjc3MiLCIuLi8uLi9yZXNvdXJjZXMvdmFycy1jb21tb24uc2NzcyIsIi4uLy4uL3Nhc3NfcHJvY2Vzc2VkL21hcnRvci1kZXNjcmlwdGlvbi5jc3MiLCIuLi8uLi9yZXNvdXJjZXMvdmFycy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VDQ0ksa0JBQUE7RUFDQSxjQUFBO0VBQ0Esd0VDS1M7QUNOYjtBRkdJO0VBQ0ksbUdBQUE7QUVEUjtBRklJO0VBQ0gsbUJBQUE7RUFDTyx3QkFBQTtFQUNBLHFCQUFBO0FFRlI7QUZLSTtFQUNJLGVBQUE7RUFDQSxZQUFBO0FFSFI7QUZNSTtFR3lDQSw0Q0FBQTtVQUFBLG9DQUFBO0FENUNKO0FGT0k7RUFDSSxtQkFBQTtFQUNBLGNHaEJVO0VIaUJWLHFCQUFBO0VBQ0EsVUFBQTtFQUNBLGFBQUE7QUVMUjtBRlFJO0VBQ0ksaUJBQUE7QUVOUjtBRlNJO0VBQ0ksZ0JBQUE7QUVQUjtBRlVJO0VBQ0ksY0FBQTtBRVJSO0FGV0k7RUFDSSxnQkFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0FFVFI7QUZZSTtFQUNJLGdCQUFBO0VBQ0EsaURBQUE7RUFDQSxrQkFBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7QUVWUjtBRmFJO0VBQ0ksaUJBQUE7RUFDQSxhQUFBO0FFWFI7QUZjSTtFQUNJLGdCQUFBO0FFWlI7QUZlSTtFQUNJLGNHN0RVO0VIOERWLGdDQUFBO0VBQ0EsZUFBQTtFQUNBLDBCQUFBO0FFYlI7QUZnQkk7RUFDSSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0EsbUJHekVVO0VIMEVWLGtCQUFBO0VBQ0EsY0FBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtFQUNBLHlCQUFBO0VBQ0EsNkJBQUE7RUFBQSx3QkFBQTtFQUFBLHFCQUFBO0FFZFI7QUZpQkk7RUFDSSxhQUFBO0FFZlI7QUZrQkk7RUFDSSxXQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLFNBQUE7RUFDQSxPQUFBO0VBQ0EsVUFBQTtFQUNBLGtCQUFBO0VBQ0EsbUJHOUZVO0FEOEVsQjtBRm1CSTtFQUNJLDBCQUFBO0VBQ0EsNEJBQUE7RUFDQSxpQ0FBQTtFQUNBLGVBQUE7RUFDQSxjQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQUNBLFFBQUE7RUFDQSxVQUFBO0VBQ0Esb0JBQUE7QUVqQlI7QUZvQkk7RUFDSSxZQUFBO0FFbEJSO0FGcUJJO0VBQ0ksY0FBQTtBRW5CUjtBRnNCSTtFQUNJLFVBQUE7QUVwQlI7QUZ1Qkk7RUFDSSxjQUFBO0VBQ0EsU0FBQTtFQUNBLFNBQUE7RUFDQSxrQkFBQTtFQUNBLGdDQUFBO0VBQ0EscUJBQUE7RUFDQSxVQUFBO0FFckJSO0FGd0JJO0VBQ0ksY0cvSFc7RUhnSVgsd0JBQUE7RUFDQSxpT0NsSVU7RURtSVYsaUJBQUE7QUV0QlI7QUZ5Qkk7RUFDSSw0T0FBQTtFQUNBLGFBQUE7RUFDQSxjQUFBO0VBQ0EseUJBQUE7RUFDQSx5QkdsSlM7RUhtSlQsa0JDbkplO0VEb0pmLGlCQUFBO0VBQ0EsY0cvSVU7QUR3SGxCO0FGMEJJO0VBV0kscUJBQUE7RUFDQSxxQkFBQTtFQUNBLHVCQUFBO0VBQ0EsWUFBQTtFQUNBLHlCR3RLVTtFSHVLVixjR2hLVztFSGlLWCxrQkN6S2U7QUN1SXZCO0FGa0JRO0VBQ0ksU0FBQTtFQUNBLGdCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7RUFDQSx1QkFBQTtFQUNBLGNBQUE7RUFDQSxjR3hKTztBRHdJbkI7QUY0Qkk7RUFDSSxpQkFBQTtBRTFCUjtBRjZCSTtFQUNJLGtCQUFBO0FFM0JSO0FGOEJJO0VBQ0ksZ0JBQUE7RUFDQSxjRzlLVztFSCtLWCxxQkFBQTtBRTVCUjtBRitCSTtFQUNJLGdCQUFBO0VBQ0EsY0dwTFc7RUhxTFgsa0JBQUE7RUFDQSxpQkFBQTtBRTdCUjtBRmdDSTtFQUNJLGNBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSx3QkFBQTtBRTlCUjtBRmlDSTtFQUNJLGNBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSx3QkFBQTtFQUNBLFdBQUE7QUUvQlI7QUZrQ0k7RUFDSSxlQUFBO0FFaENSO0FGbUNJO0VBQ0ksa0JBQUE7QUVqQ1I7QUZvQ0k7RUFDSSxTQUFBO0FFbENSO0FGcUNJO0VBQ0ksaUJBQUE7QUVuQ1I7QUZzQ0k7RUFDSSxTQUFBO0VBQ0EsK0JBQUE7RUFDQSxzQkFBQTtBRXBDUjtBRnVDSTtFQUNJLG1CQUFBO0FFckNSO0FIbE1JO0VBQ0ksNEJBQUE7QUdvTVI7QUhqTUk7RUFDSSx5QkFBQTtBR21NUjtBSGhNSTtFQUNJLCtCQUFBO0FHa01SOztBSDlMQTtFQUNJLHlCQUFBO0FHaU1KOztBSDlMQTtFQUNJLGVBQUE7RUFDQSxpT0VaYztBQzZNbEI7O0FIN0xJO0VBQ0ksVUFBQTtBR2dNUjtBSDdMSTtFQUNJLHdCQUFBO0FHK0xSO0FINUxJO0VBQ0ksaUJBQUE7QUc4TFI7QUgzTEk7RUFDSSxhQUFBO0FHNkxSIiwiZmlsZSI6Im1hcnRvci1kZXNjcmlwdGlvbi5jc3MifQ== */