@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "vars";

@-ms-viewport {
    min-width: 480px;
    max-width: device-width;
}

@-o-viewport {
    min-width: 480px;
    max-width: device-width;
}

@viewport {
    min-width: 480px;
    max-width: device-width;
}

select {
	background-color: $color_primary5;
    	border: 1px solid $color_primary25;
    	border-radius: 4px;
    	color: #37474f;
    	padding: 1px;
    	-webkit-transition: box-shadow ease-in-out 0.1s,color ease-in-out 0.1s,background-color ease-in-out 0.1s;
    	transition: box-shadow ease-in-out 0.1s,color ease-in-out 0.1s,background-color ease-in-out 0.1s;

	&:hover {
		box-shadow: 0 0 3px #bbb;
	}

	&:focus {
		box-shadow: 0 0 6px #bbb;
	}
	
	&:visited {
		color: #90a4ae;

	}
}

a {
    color: $color_link75;

    &:hover {
        color: $color_link100;
    }

    &:active {
        color: $color_link200;
    }
}

img {
    max-width: 100%;

    // height: auto
}

.full {
    width: 100%;
}

table.sortable thead {
    background-color: $color_primary10;
    color: #666;
    font-weight: bold;
    cursor: default;
}

th {
    &.tablesorter-headerAsc:after {
        content: " ▴";
    }

    &.tablesorter-headerDesc:after {
        content: " ▾";
    }
}

div {
    &.tablesorter-header-inner {
        display: inline;
    }
}

pre, code {
    font-family: $monospace-fonts;
}

pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        margin: 1.5em 0 1.5em 0;
        padding: 1em;
        background-color: $color_primary10;
        color: $color_primary100;
        border-radius: $widget_border_radius;
}

hr {
    display: block;
    height: 0;
    border: 0;
    font-style: italic;
    border-bottom: 1px solid $color_primary25;
    padding: 0;
}

.dashed {
    border-bottom: 1px dashed $color_primary25;
}

th {
    vertical-align: middle;
}

.form-area {
    display: inline-block;
    margin-top: 1em;
    padding: 15px 25px;
    background: $color_primary5;
    border-radius: $widget_border_radius;
    border: 1px solid $color_primary25;
    box-shadow: $sidebox_shadow;
}

div.info-float {
    float: right;
    padding: 10px;
}

footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    font-size: $base_font_size;
    line-height: 1.231;
    background: $color_pageBg;
    font-family: $body_fonts;
    color: $color_primary100;
    height: 100%;
}

.unselectable {
    cursor: default;
}

h1 {
    font-size: 5em;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

b {
    font-weight: bold;
}

h2 {
    font-weight: 600;
    font-family: $title_fonts;
    font-size: 2em;
    border-radius: $widget_border_radius;
    padding: 0;
    margin: 0;
}

h3 {
    font-weight: 600;
    color: $color_primary90;
    font-family: $title_fonts;
    font-size: 1.4em;
    border-radius: $widget_border_radius;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

#user-links {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    color: #90a4ae;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    .anon {
        padding-right: 10px;
        display: inline-flex;
        min-height: 100%;
        align-items: center;
        white-space: nowrap;
        color: #5c5954;
    }

    a {
        color: #eceff1;
    }

    li {
        text-transform: none;
    }

    & > ul {
        display: block;
        margin: 0;

        & > li {
            & > a {
                display: block;
                padding: 0;
                height: 100%;

                & > span {
                    font-size: 13px;
                    padding: 14px 10px;
                    display: block;
                    white-space: nowrap;

                    & > img {
                        vertical-align: middle;
                        border-radius: 50px;
                        margin-right: 6px;
                    }

                    & > span {
                        vertical-align: middle;
                        color: #eee;
                    }
                }
            }

            & > ul {
                left: 0;
            }
        }
    }
}

#nav-background {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
}

#nav-shadow {
    height: 3px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    margin: 0 0 0 -100em;
    padding: 0 0 0 100em;
    width: 500%;
}

#nav-container {
    background: #263238;
    margin: 0 0 0 -100em;
    padding: 0 0 0 100em;
    width: 500%;

    // opacity: 0.77
    // filter: alpha(opacity=77)
    height: 100%;
}

#navigation {
    max-width: 1320px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 500;
    text-align: left;
    font-family: $title_fonts;
    font-weight: 700;

    ul {
	    max-width: 80em;
        margin: 0 0 0 -5px !important;
        padding: 0 0 0 5%;
        text-align: left;
        display: inline;
        list-style: none;
        background: transparent;

        li {
            display: inline-block;
            color: $color_primary0;
            text-transform: uppercase;
            position: relative;

            &.home-nav-element a {
                padding: 0;
                height: 44px;

                &:hover {
                    border-bottom: none;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            a, button {
                display: inline-block;
                text-decoration: none;
                vertical-align: middle;
                color: #90a4ae;
                padding: 18px 7px;
                height: 18px;   
		        transition: background ease-in-out 0.1s;
                margin: 0;

                &:link {
                    color: #90a4ae;
                }

                &:hover {
                    color: #4db6ac;
                    background: #455a64;
                    box-shadow: none;
                }

                &.active {
                    color: white;
                    padding: 18px 7px 13px 7px;
    		        border-bottom: 5px solid #4db6ac;
                }

                .nav-expand {
                    display: none;
                }
            }

            ul {
                padding: 0;
                position: absolute;
                left: 5px;
                display: none;
                color: $color_primary0;
                background: #263238;
                margin: 0 !important;
                box-shadow: $sidebox_shadow;
                width: fit-content;
                border-left: 4px solid #4db6ac;

                li {
                    &:first-child {
                        a.active {
                            border-top: 1px solid $color_primary75;
                        }
                    }
                }

                li {
                    display: block;

                    a, button {
                        padding: 8px 20px 8px 8px !important;
                        font-size: 0.8em;
                        line-height: 18px;
                        display: block;
                        white-space: nowrap;
                    }
                }
            }

            button {
                background: none;
                text-align: left;
                border: none;
                width: 100%;
                border-radius: 0;
                height: auto;
		        box-shadow: none;
            }

            &:hover > ul, &:active > ul, &:focus > ul {
                display: block !important;
            }

            &.home-nav-element a:hover {
                border-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                background: transparent;
            }
        }
    }

    .nav-divider {
        width: 1px;
        vertical-align: middle;
        padding-left: 3px;
        display: inline-block;
        height: 32px;
        margin-right: 1px;
        border-right: 3px solid transparent;
    }
}

hr {
    color: rgba($color_primary100, 0.2);
}

#content {
    margin: 50px auto auto;

    // Header
    max-width: 1300px;
    height: 100%;
    min-height: 25em;
    display: block;

    .title {
        color: $color_primary75;
    }
}

footer {
    text-align: center;
    height: 65px;
    background: $color_primary5;
}

#footer-content a {
    color: $color_primary50;
}

html {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
    display: inline;
}

noscript #noscript {
    font-family: Arial, sans-serif;
    font-size: 111%;
    color: $color_primary0;
    font-weight: bold;
    background: $announcement_red;
    text-align: center;
    padding: 5px 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}

#announcement {
    font-family: Arial, sans-serif;
    font-size: 111%;
    color: $color_primary0;
    font-weight: bold;
    background: $announcement_red;
    text-align: center;
    max-width: 30%;
    position: fixed;
    border-radius: $widget_border_radius;
    z-index: 100;
    bottom: -4px;
    right: -4px;
    padding: 5px 6px 6px 5px;

    a {
        color: orange;
    }
}

.time {
    color: $color_primary75;
}

.toggle {
    font-weight: bold;

    .fa, .fa-solid {
        transition: transform 0.4s;
    }

    &.open .fa, &.open .fa-solid {
        transform: rotate(90deg);
    }
}

#form-errors, .form-errors {
    background: rgba(255, 0, 0, 0.3);
    border: 3px solid red;
    border-radius: $widget_border_radius;
    padding: 0 1em 0.1em 1em;
    margin: 0.3em 0 0.5em 0;
}

#navicon {
    display: none;
}

#nav-list {
    padding: 0 12px;
}

#nav-placeholder {
    height: 47px;
    max-width: 107em;
    background: $color_primary0;
    border-right: 1px solid $color_primary25;
    border-left: 1px solid $color_primary25;
}

#contest-info {
    font-weight: 600;
    font-size: 1.25em;
    border: 5px solid #009688;
    border-radius: $widget_border_radius;
    box-shadow: $sidebox_shadow;
    background: rgba($color_primary100, 0.60);
    z-index: 100000;
    padding: 10px 12px;
    color: $color_primary0;
    cursor: move;
    position: fixed;
    left: 20px;
    top: 90%;
    display: none;

    a {
        height: 1.4em;
        padding: 0;
        margin: 0;
        color: $color_primary0;
        display: block;
    }
}

#contest-time-remaining {
    display: inline-block;
}

#page-container {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    background: $color_pageBg;
	
	
    .select-items {
        box-shadow: $sidebox_shadow;
        border: 1px solid $color_primary25;
        border-radius: $widget_border_radius !important;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none !important;
    }

    .select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none !important;
    }

    .select2-container--default {
        transition: box-shadow ease-in-out 0.1s !important;
    
        .select2-selection--multiple, .select2-selection--single {
            background-color: $color_primary5;
            border: 1px solid $color_primary25 !important;
            height: 2.2em; 
            border-radius: $input_box_radius;
            &:hover {
                box-shadow: 0 0 8px $color_primary25 !important;
            }
        }
    }

    ul.select2-selection__rendered {
        padding: inherit !important;
    }

    .select2-container--default .select2-search--inline .select2-search__field {
        // width: 100% !important;
        padding: 0 5px !important;
    }

    
    .select2-selection__choice {
        background-color: $color_primary10;
        border-color: $color_primary25;
    }
}

#content-body {
    padding-top: 0.25em;
    padding-bottom: 6.5em;
}

// Offset the footer

.title-line-action {
    float: right;
    margin-top: 1.2em;
}

math {
    font-size: 1.155em;
}

.MathJax {
    &:focus {
        outline: none;
    }
}

@media(max-width: 1498px) {
    #page-container {
        border-left: none;
        border-right: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 760px) {
    #navigation {
        height: 46px;
    }

    #nav-background {
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 36px;
    }

    #navicon {
        transition-duration: 0.25s;
        display: block;
        line-height: 26px;
        font-size: 2em;
        color: $color_primary0;
        padding: 0 0 0 0.25em;
        margin: 9px 0.25em;
        white-space: nowrap;
        float: left;

        &.hover {
            color: #4db7fe;
            text-shadow: 0 0 5px $color_link75;
            transition-duration: 0.25s;
        }
    }

    #nav-list {
        display: none;
        padding: 0;
        margin-left: 0;
        border-left: 4px solid $color_link75;
        position: fixed;
        top: 36px;
        background: $color_primary75;
        bottom: 0;
        width: 8em;
        left: 0;
        box-shadow: none;

        li {
            display: block;

            a {
                display: block;

                .nav-expand {
                    float: right;
                    display: block;
                    height: inherit;
                    margin: (-13px) -7px;
                    padding: inherit;
                }
            }

            ul {
                left: 8em;
                top: auto;
                bottom: auto;
                margin-top: -36px;
            }

            &.home-nav-element {
                display: none;
            }
        }
    }

    #user-links > ul > li > a > span {
        padding: 6px 8px;
    }

    #content {
        width: auto;
        padding: 0 1em;
    }
}

@media not all and (max-width: 760px) {
    #nav-list {
        display: block !important;

        li {
            &.home-menu-item {
                display: none;
            }

            &:not(:hover) > ul {
                display: none !important;
            }

            ul {
                left: 0 !important;
            }
        }
    }
}
