@import "vars";

.AB .score span {
    background-color: #CCC;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: black;
}

.AC .score span {
    background-color: #4caf50;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: white;
}

._AC .score span {
    background-color: #AFB42B;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: white;
}

.WA .score span {
    background-color: #FF5252;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: white;
}

.TLE .score span {
    background-color: #607d8b;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: white;
}

.OLE, .IR, .RTE, .OTH, .MLE { 
.score span {
    background-color: #FFC107;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: black;
}
}

.CE .score span {
    background-color: #FFC107;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: black;
}

.IE .score span {
    background-color: #FFC107;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: black;
}

.QU, .G .score span {
    background: white;
    padding: 2px 5px;
    border-radius: $widget_border_radius;
    color: black;
}
