.AB {
    background-color: #CCC;
    color: black;
}

.AC {
    background-color: #53f23f;
    color: black;
}

._AC {
    background-color: #DFFF00;
    color: black;
}

.WA {
    background-color: #FF4141;
    color: #F0F0F0;
}

.TLE, .MLE {
    background-color: #CCC;
    color: black;
}

.OLE, .IR, .RTE, .OTH {
    background-color: #FAB623;
    color: black;
}

.CE {
    background-color: #FAB623;
    color: black;
}

.IE {
    background-color: red;
    color: black;
}

.QU, .G {
    background: white;
    color: black;
}
