.AB {
    background-color: #CCC;
    color: black;
}

.AC {
    background-color: #4caf50;
    color: white;
}

._AC {
    background-color: #4caf50;
    color: white;
}

.WA {
    background-color: #FF5252;
    color: white;
}

.TLE, .MLE {
    background-color: #607d8b;
    color: white;
}

.OLE, .IR, .RTE, .OTH {
    background-color: #FFC107;
    color: black;
}

.CE {
    background-color: #FFC107;
    color: black;
}

.IE {
    background-color: red;
    color: black;
}

.QU, .G {
    background: white;
    color: black;
}
