@import "vars";

.info-float {
    position: sticky;
    top: 60px;
    width: 20%;
}

#submissions-table {
    background: rgba($color_primary100, .01);
}

.submissions-status-table {
    border-spacing: 0;
    width: 100%;
    border: $color_primary25 1px solid;
    border-radius: $widget_border_radius;
}

@media (max-width: 760px) {
	.submissions-status-table {
		padding: initial;
	}
}
.submission-row {
    display: flex;
    border-top: $color_primary25 1px solid;
    border-left: $color_primary25 1px solid;
    border-right: $color_primary25 1px solid;
    transition: background-color linear 0.1s;

    &:first-child {
	border-top-right-radius: $widget_border_radius;
	border-top-left-radius: $widget_border_radius;
	.sub-result {
		border-top-left-radius: $widget_border_radius;
	}
	.sub-usage {
		border-top-right-radius: $widget_border_radius;
	}
    }

    &:last-child {
	border-bottom-left-radius: $widget_border_radius;
	border-bottom-right-radius: $widget_border_radius;
	.sub-result {
		border-bottom-left-radius: $widget_border_radius;
	}
	.sub-usage {
		border-bottom-right-radius: $widget_border_radius;
	}

    }


    &:nth-child(even) {
	background: $color_primary5;
    }

    &:hover {
        background: $color_primary10;
    }

    &:not(:empty) ~ & {
        border-top: none;
    }

    > div {
        padding: 7px 5px;
        vertical-align: middle;
        border-bottom: $color_primary25 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sub-result {
	padding-top: 11px;
        min-width: 80px;
        width: 80px;
        text-align: center;
        border-bottom-color: $color_primary25;
        border-right: $color_primary25 1px solid;

        .state {
            font-size: 0.75em;
            font-weight: bold;
            padding-top: 0.4em;
        }

        .score {
            font-size: 1.3em;
			font-weight: bold;

            .grading-spinner {
                color: $color_primary100;
            }
        }
    }

    .sub-main {
        display: flex;
        flex: 1;
        flex-direction: row;
        place-items: center;
        justify-content: space-between;
        padding-left: 20px;

        .sub-info {
            flex: 1;
            word-break: break-word;

            .name {
                font-weight: 500;
                font-size: 1.2em;
                font-family: $title_fonts;
            }
        }

        .sub-testcase {
            color: $color_primary50;
            white-space: nowrap;
            padding-right: 5px;
        }

        .sub-prop {
            a {
                white-space: nowrap;
            }
        }
    }

    .sub-usage {
        min-width: 70px;
        width: 70px;
        white-space: nowrap;
        text-align: center;
        border-left: $color_primary25 1px solid;

        .time {
            font-weight: bold;
        }
    }
}

.sub-prop .fa, .sub-prop .fa-solid {
    display: none;
}

.sub-prop .grey-label {
    color: $color_primary50;
    font-style: italic;
}

.sub-prop .grey-icon {
    color: $color_primary50;
}

label[for="language"], label[for="status"], label[for="organization"] {
    padding-bottom: 0.25em;
    display: block;
}

#language {
    margin-top: 0.5em;
    width: 100%;
}

#status {
    width: 100%;
}

#organization {
	width: 100%;
}

#statistics-table tr:not(:first-child) td {
    border-top: 1px solid $color_primary0 !important;
}

#statistics-table tr:not(:last-child) td:not(:last-child) {
    border-right: 1px solid $color_primary0
}

#content-left.submission {
    flex: 73.5%;
}

#content-right.submission {
    flex: 26.5%;
    min-width: initial;
    padding-top: 0;
}

@media(max-width: 700px) {
    .sub-main {
        padding-left: 10px !important;
        flex-direction: column !important;
        place-items: flex-start !important;
    }

    .sub-prop {
        .label {
            display: none;
        }

        .fa, .fa-solid {
            display: inline-block;
        }
    }

    #fake-info-float {
        display: none;
    }

    #statistics-table {
        display: none;
    }

    #content-left.submission {
        flex: 100%;
    }

    #content-right.submission {
        display: none;
    }
}

.submission-contest {
    color: $color_primary50;
}

.source-ln {
    color: $color_primary50;
    border-right: 1px solid $color_primary25;
    padding-right: 5px;
    text-align: right;

    a {
        color: $color_primary50;
        display: block;

        &:hover {
            text-decoration: underline;
        }

        &::before {
            display: block;
            content: " ";
            margin-top: -50px;
            height: 50px;
            visibility: hidden;
        }
    }

    pre {
        margin: 0;
        padding: 0 0 0 1em;
        white-space: pre;
    }
}

.source-code pre {
    margin: 0;
    padding: 0;
    white-space: pre;
}

.source-code {
    padding-left: 15px;
}

.source-wrap {
    overflow-x: auto;
    background: $color_primary10;
    line-height: 1.5;
    border-radius: $widget_border_radius;
}

.statistics-table {
    .status {
        font-weight: bold;
        text-align: left;
    }

    .count {
        color: $color_primary100;
    }
}

#test-cases {
    .fa, .fa-solid {
	padding: 2px;
    	width: 1em;
    	text-align: center;
    }
    .toggle .fa, .toggle .fa-solid {
        margin-left: -0.3em;
    }

    .batch-cases {
        margin: 0;
        padding-bottom: 1em;
        padding-top: 1em;
        display: inline-block;
	    width: 100%;
    }

    .case-row {
        transition: background-color linear 0.1s;
    	&:hover {
	    cursor: pointer;
            background: #eaeaea;
        }
    }

    .case-row td:first-child {
	padding-left: 1.5em;
	width: 5%;
    }

    .case-row:first-child td {
   	border-top: none;
    }

    .case-row td:nth-child(2) {
	width: 35%;
	text-align: center;
    }
		
    .case-info {
    	padding: 0.5em 1em;
    	/* padding-bottom: 3px; */
    	/* padding-top: 0.5em; */
   	    background: $color_primary10;
    	/* border: 1px solid #2980b9; */
    	/* border-left-width: 0.5em; */
   	    border-radius: 4px;
    	color: $color_primary75;
    	margin: 3px 5px 8px 5px;
	    text-align: left;
    }

    .case-output {
	    text-align: left;
        padding: 0.5em 1em;
        border-top: none;
        pre {
            border: none;
            margin: 0;
                padding: 4px 0;
        }
    }

    table td {
    	min-width: 6em;
    	max-width: 10em;
        margin: 0;
    	padding: 8px;
    	border-top: 1px solid $color_primary25;
    	text-align: left;    
    }

    .toggle {
        font-weight: normal;
    }

    .case-feedback {
        vertical-align: top;
    }

    td.case-output + td.case-ext-feedback {
        width: 50%;
    }

    .case-output {
        word-wrap: anywhere;
    }
}

.case-AC {
    color: white;
    font-weight: bold;
    background: #4caf50;
    border-radius: 3px;
    padding: 1px 5px;

}

.case-_AC {
    color: black;
    font-weight: bold;
    background: #AFB42B;
    border-radius: 3px;
    padding: 1px 5px;
}

.case-WA {
    color: white;
    font-weight: bold;
    background: #FF5252;
    border-radius: 3px;
    padding: 1px 4px;
}

.case-TLE, .case-SC {
    color: white;
    font-weight: bold;
    background: #607d8b;
    border-radius: 3px;
    padding: 1px 3px;
}

.case-MLE, .case-OLE, .case-IR {
    color: white;
    font-weight: bold;
    background: #FFC107;
    border-radius: 3px;
    padding: 1px 4px;
}

.case-RTE {
    color: black;
    font-weight: bold;
    background: #FFC107;
    border-radius: 3px;
    padding: 1px 4px;
}


.case-bad {
    text-decoration: underline;
}


.scase-AC {
    color: #4caf50;
    font-weight: bold;
}

.scase-_AC {
    color: #AFB42B;
    font-weight: bold;
}

.scase-WA {
    color: #FF5252;
    font-weight: bold;
}

.scase-TLE, .scase-SC {
    color: #607d8b;
    font-weight: bold;
}

.scase-MLE, .scase-OLE, .scase-RTE, .scase-IR {
    color: #FFC107;
    font-weight: bold;
}


.half-hr {
    float: left;
    width: 30%;
}

.source-wrap {
    .line {
        position: relative;
    }

    .highlighter {
        position: absolute;
        width: 9999px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    a:active .line .highlighter {
        background: rgba(255, 212, 0, 0.48);
    }
}

.submission-info {
    text-align: right;
    float: right;

    .submission-date {
        color: $color_primary50;
    }
}
