@import "vars-common";

$color_primary0: #fff;
$color_primary5: #f5f5f5;   // light background
$color_primary10: #eceff1;     // background
$color_primary25: #c8ccd0;    // border
$color_primary50: #9e9e9e;
$color_primary60: #546e7a;
$color_primary75: #263238;  // widget
$color_primary90: #212121;
$color_primary100: #000;

$color_link50: #009688;     // default (title)
$color_link75: #0288d1;     // default
$color_link100: #01579b;    // hover
$color_link200: #ffa000;    // active

$color_pageBg: #fff;

$path_to_root: '.';     // relative path from style.css to STATIC_ROOT

$sidebox_shadow: 0 6px 10px 0 rgb(0 0 0 / 15%);
$button_shadow: 0 1px 5px #b0bec5;

@mixin vars-img {}
