$highlight_blue: #0288d1;
$announcement_red: #c62828;
$button_color: #009688;

$base_font_size: 14px;
$widget_border_radius: 4px;
$input_box_radius: 6px;
$table_header_rounding: 6px;

$title_fonts: 'Montserrat', "Open Sans", "Segoe UI", "Lucida Grande", Arial, sans-serif;
$body_fonts: "Open Sans", "Segoe UI", "Lucida Grande", Arial, sans-serif;
$problem_fonts: "Merriweather", "Open Sans", "Segoe UI", "Lucida Grande", Arial, sans-serif;
$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;