@import "vars-common";

$color_primary0: #1c2429;
$color_primary5: #263238;   // light background
$color_primary10: #304047;     // background
$color_primary25: #3b4d56;  // border
$color_primary50: #546e7a;
$color_primary60: #78909c;
$color_primary75: #90a4ae;     // widget
$color_primary90: #b0bec5;
$color_primary100: #cfd8dc;

$color_link50: #009688;    // default (title)
$color_link75: #039be5;    // default
$color_link100: #4fc3f7;   // hover
$color_link200: #ff8f00;   // active

$color_pageBg: #1c2429;    // #212121 because some elements should be darker than pageBg

$path_to_root: '..';    // relative path from style.css to STATIC_ROOT

$sidebox_shadow: 0 6px 10px 0 rgb(0 0 0 / 30%);
$button_shadow: 0 1px 5px #546e7a;

@mixin vars-img {
    filter: invert(1) hue-rotate(180deg);
}
