$highlight_blue: #1976d2;
$widget_black: #37474f;
$border_gray: #e0e0e0;
$background_gray: #eeeeee;
$background_light_gray: #fafafa;
$announcement_red: #c62828;

$button_color: #009688;
$button_shadow: 0 0 7px #929292;
$input_box_radius: 5px;

$base_font_size: 14px;
$widget_border_radius: 5px;

$table_header_rounding: 5px;

$sidebox_shadow: 0 0 25px #bbb;
$nav_color: #1A2C42;
$title_fonts: "Montserrat", "Roboto", "Segoe UI", "Lucida Grande", Arial, sans-serif;

$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
