$highlight_blue: #0288d1;
$widget_black: #263238;
$border_gray: #e0e0e0;
$background_gray: #eeeeee;
$background_light_gray: #fafafa;
$announcement_red: #c62828;

$button_color: #009688;
$button_shadow: 0 1px 5px #aaa;
$input_box_radius: 6px;

$base_font_size: 14px;
$widget_border_radius: 6px;

$table_header_rounding: 6px;

$sidebox_shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
$nav_color: #1A2C42;
$title_fonts: "Open Sans", "Segoe UI", "Lucida Grande", Arial, sans-serif;
$body_fonts: "Open Sans", "Segoe UI", "Lucida Grande", Arial, sans-serif;

$monospace-fonts: "Fira Code", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
