{% extends "common-content.html" %}

{% block content_js_media %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block content_media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block header %}
    <div style="float:right">
        {% if problem.is_editable_by(request.user) %}
            [<a href="{{ url('problem_edit', problem.code) }}">{{ _('Edit') }}</a>]
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="content-description">
        {% if not has_solved_problem %}
            <div class="alert alert-danger">
                {{ _('Remember to use this editorial **only** when stuck, and **not to copy-paste code from it**. Please be respectful to the problem author and editorialist.')|markdown('default') }}<br>
                <b>{{ _('Submitting an official solution before solving the problem yourself is a bannable offence.') }}</b>
            </div>
        {% endif %}
        {% with authors=solution.authors.all() %}
            {% if authors %}
                <p>
                    {% trans trimmed count=authors|length %}
                        Author: 
                    {% pluralize %}
                        Authors: 
                    {% endtrans %}
                    {{ link_users(authors) }}
                </p>
            {% endif %}
        {% endwith %}
        {{ solution.content|markdown('solution', MATH_ENGINE)|reference|str|safe }}

    	{% with pdf_url=solution.pdf_url %}
        	{% if pdf_url %}
            		<object id="pdfContainer" data="{{ pdf_url }}" type="application/pdf" height="1000" style="width: 100%;" ></object>
          		<p>{{ _("In case the editorial didn't load correctly, you can download the editorial here: ") }}<a href="{{ pdf_url }}">{{ _("Editorial") }}</a></p>
        	{% endif %}
    	{% endwith %}
    </div>
    <hr>
    {% include "comments/list.html" %}
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
    {% include "comments/math.html" %}
{% endblock %}
